@tailwind base;
@tailwind components;
@tailwind utilities;

.icon {
  width: 16px;
  height: 16px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.appSize {
  padding-left: 24px;
  padding-right: 24px;
}

@media (min-width: 864px) {
  .appSize {
    padding-left: 116px;
    padding-right: 116px;
  }
}
